@font-face{
    font-family: "Creepy"; /*can give any name*/
    src:url("../assests/fonts/Creepy.woff") format("woff"),
        url("../assests/fonts/Creepy.woff2") format("woff2")
}

@font-face{
    font-family: "Lunacy";
    src: url("../assests/fonts/Lunacy.woff") format("woff"),
         url("../assests/fonts/Lunacy.woff2") format("woff2");
}

*{
    box-sizing: border-box;
}

html{
    min-height: 100vh;
    cursor: url("../assests/cursors/Ghost.cur"),auto;
}

body{
    margin: 0;
    background: radial-gradient(#9D5900,#3D2200);
}

.overlay-text{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #FF6D00;
    font-family: Creepy,serif;
}
.overlay-text.visible{
    display: flex;
    animation: overlay-grow 500ms forwards;
    flex-direction: column;
}
.overlay-text-small{
    font-size: .3em;
}
@keyframes overlay-grow{
    from{
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to{
        background-color: rgba(0,0,0,.8);
        font-size: 10em;
    }
}

/*styling text*/
.page-title{
    color: #FF6D00;
    font-family: Creepy,serif;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}
.game-info{
    color:#FFBB89;
    font-family: Lunacy,serif;
    font-size: 4em;
}/*end styling text*/



/* 4*4 grid*/
.card{
    position: relative; /*imp*/
    height: 175px;
    width: 125px;
}
.game-container{
    display: grid;
    grid-template-columns: repeat(4,auto);/*(coloums,width)*/
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}
.game-info-container{
    grid-column : 1 / -1; /*take whole size from start till last*/
    display: flex;
    justify-content: space-between;
}/*end 4*4 grid*/

/*styling card*/
.card-face{
    position: absolute;/*parent .card*/
    width: 100%;/*125px*/
    height: 100%;/*175px*/
    display: flex;/*images in row*/
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}
.card-front{
    transform: rotateY(180deg);
    background-color: #FFBB89;
    border-color: #333;
}
.card-value{/*part of front*/
    transition: transform 100ms ease-in-out;
    transform: scale(.9); /*hover 1*/
}
.card-back{
    border-color: #FF6D00;
    background-color: black;
}
/*images positioning*/
.cob-web{
    position: absolute;/*parent .card-face*/
    width: 47px;/*if 100% full width 125px*/
    height: 47px;
    transition: width 100ms ease-in-out,/*whenerver changes change it smoothly*/
                height 100ms ease-in-out;
}
.cob-web-top-left{
    transform: rotate(270deg);
    top: 0;
    left: 0;
}
.cob-web-top-right{
    top: 0;
    right: 0;
}
.cob-web-bottom-left{
    transform: rotate(180deg);/*clockwise*/
    bottom: 0;
    left: 0;
}
.cob-web-bottom-right{
    transform: rotate(90deg);
    bottom: 0;
    right: 0;
}
.spider{
    align-self: flex-start;/*top*/
    transform: translateY(-10px);
    transition: transform 100ms ease-in-out; /*easing hover transition*/
}/*end images positioning*/

/*hover transition*/
.card-back:hover .spider{
    transform: translateY(0);
}
.card-face:hover .cob-web{
    width: 52px;
    height: 52px;
}
.card-front:hover .card-value{
    transform: scale(1);
}
.card:hover{
    cursor: url("../assests/cursors/GhostHover.cur"),auto;
}
/*end hover transition*/


.card.visible  .card-back{ /*if card visible and cardblack*/
    transform: rotateY(-180deg);
}
.card.visible .card-front{
    transform: rotateY(0);
}



.card.matched .card-value{
    animation: dance 1s linear infinite 500ms; /*delay 500ms*/
}

@keyframes dance{
    0%,100%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-30deg);
    }
    75%{
        transform: rotate(30deg);
    }
}




@media (max-width: 600px){
    .game-container{
        grid-template-columns: repeat(2,auto);
    }
    .game-info-container{
        flex-direction: column;
        align-items: center;
    }
    
@keyframes overlay-grow{
    from{
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to{
        background-color: rgba(0,0,0,.8);
        font-size: 3em;
    }
}
}